@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root
{
    --medium-yellow:#f4c108;
    --light-cream:#ffe279;
    --write-silver: #fafdff;
    --light-blue:#65aff3;
    --medium-blue:#297dc9;
    --black:#130f40;
    --light-black-color:#666;
    --box-shadow: 1px 5px 10px rgba(0,0,0,.1);
    --border: 2px solid rgba(0,0,0,.1);
    --outline: 1px solid rgba(0,0,0,.1);
    --outline-hover: 5px solid var(--black);
}

*{
    font-family: "Niramit", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html
{
    font-size: 90%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7px;
}

body
{
    background: #eee;
}

.header
{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo
{
    font-size: 20px;
    font-weight: bolder;
    color: var(--medium-blue);
}
.header .logo i
{
    color: var(--medium-yellow);
    padding: 5px;
}
.header .navbar a
{
    font-size: 15px;
    font-weight: 600;
    margin: 0 10px;
    color: var(--medium-blue);
}
.header .navbar a:hover
{
    color: var(--medium-yellow);
}
.header .icons div
{
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 5px;
    background: #eee;
    color: var(--medium-blue);
    font-size: 20px;
    margin-left: 3px;
    cursor: pointer;
    text-align: center;
}
.header .icons div:hover
{
    background: var(--medium-yellow);
    color: var(--write-silver);
}

#menu-btn
{
    display: none;
}
.header .search-form
{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 500px;
    height: 50px;
    background: #fff;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active
{
    right: 20px;
    transition: .4s linear;
}
.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 16px;
    color: var(--black);
    padding: 0 15px;
}
.header .search-form label
{
    font-size: 22px;
    padding-right: 15px;
    color: var(--light-blue);
    cursor: pointer;
}
.header .search-form label:hover
{
    color: var(--medium-yellow);
}

img
{
    width: auto;
    height: 75px;
}
.header .shopping-cart
{
    position: absolute;
    top: 110%;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
}