@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root
{
    --medium-yellow:#f4c108;
    --light-cream:#ffe279;
    --write-silver: #fafdff;
    --light-blue:#65aff3;
    --medium-blue:#297dc9;
    --black:#130f40;
    --light-black-color:#666;
    --box-shadow: 1px 5px 10px rgba(0,0,0,.1);
    --border: 2px solid rgba(0,0,0,.1);
    --outline: 1px solid rgba(0,0,0,.1);
    --outline-hover: 5px solid var(--black);
}

*{
    font-family: "Niramit", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html
{
    font-size: 90%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7px;
}

body
{
    background: #eee;
}

img
{
    width: 100px;
    height: auto;
    padding: 5px;
}

section{
    padding: 20px 9%;
}

.heading
{
    text-align: center;
    padding: 20px 0;
    padding-bottom: 30px;
    font-size: 35px;
    color: var(--black);
}

.btn
{
    margin-top: 10px;
    display: inline-block;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}
.btn:hover
{
    background: var(--medium-yellow);
    color: var(--write-silver);
    box-shadow: 2px 3px 10px rgba(240, 205, 8, 0.877);
}

.header
{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo
{
    font-size: 20px;
    font-weight: bolder;
    color: var(--medium-blue);
}
.header .logo i
{
    color: var(--medium-yellow);
    padding: 5px;
}
.header .navbar a
{
    font-size: 15px;
    font-weight: 600;
    margin: 0 10px;
    color: var(--medium-blue);
}
.header .navbar a:hover
{
    color: var(--medium-yellow);
}
.header .icons div
{
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 5px;
    background: #eee;
    color: var(--medium-blue);
    font-size: 20px;
    margin-left: 3px;
    cursor: pointer;
    text-align: center;
}
.header .icons div:hover
{
    background: var(--medium-yellow);
    color: var(--write-silver);
}

#menu-btn
{
    display: none;
}
.header .search-form
{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 500px;
    height: 50px;
    background: #fff;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active
{
    right: 20px;
    transition: all 0.3s ease;
}
.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 16px;
    color: var(--black);
    padding: 0 15px;
}
.header .search-form label
{
    font-size: 22px;
    padding-right: 15px;
    color: var(--light-blue);
    cursor: pointer;
}
.header .search-form label:hover
{
    color: var(--medium-yellow);
}

.header .shopping-cart
{
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 310px;
    background: #fff;
}

.header .shopping-cart.active{
    right: 20px;
    transition: all 0.3s ease;
}

.header .shopping-cart .box
{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin: 10px 0;
}
.header .shopping-cart .box .fa-trash
{
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    color: var(--light-black-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover
{
    color: var(--medium-yellow);
}
.header .shopping-cart .box .content h3
{
    color: var(--black);
    font-size: 17px;
    padding-bottom: 10px;
}
.header .shopping-cart .box .content span
{
    color: var(--light-black-color);
    font-size: 16px;
}
.header .shopping-cart .box .content .quanti1ty
{
    padding-left: 10px;
}
.header .shopping-cart .total
{
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
    color: var(--black);
}
.header .shopping-cart .btn
{
    display: block;
    text-align: center;
    margin: 10px;
}

.header .login-form
{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 300px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
}
.header .login-form.active
{
    right: 20px;
    transition: all 0.3s ease;
}
.header .login-form h3
{
    font-size: 25px;
    text-transform: uppercase;
    color: var(--black);
}
.header .login-form .box
{
    width: 100%;
    margin: 7px 0;
    background: #eee;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: var(--black);
    text-transform: none;
}
.header .login-form p
{
    font-size: 14px;
    padding: 5px 0;
    color: var(--light-black-color);
}
.header .login-form p a
{
    color: var(--medium-blue);
    text-decoration: underline;
}

/* home */

.home
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/img/banner-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 100px;
}

.home .content{
    text-align: center;
    width: 600px;
}

.home .content h3{
    color: var(--write-silver);
    font-size: 30px;
}

.home .content h3 span{
    color: var(--medium-yellow);
}

.home .content p{
    color: var(--light-cream);
    font-size: 17px;
    padding: 10px 0;
    line-height: 1.8;
}

.cover
{
    margin-top: 10px;
    display: inline-block;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--write-silver);
    color: var(--write-silver);
    cursor: pointer;
    background: none;
}







/* media queries */
@media (max-width:991px) {
    html
    {
        font-size: 55%;
    }
    .header
    {
        padding: 20px;
    }
    section{
        padding: 20px;
    }
}
@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .search-form{
        width: 90%;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 300px;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        background: #fff;
    }
    .header .navbar.active{
        right: 20px;
        transition: all 0.3s ease;
    }
    .header .navbar a{
        font-size: 18px;
        margin: 20px 25px;
        display: block;
    }
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
}