@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root
{
    --medium-yellow:#f4c108;
    --light-cream:#ffe279;
    --write-silver: #fafdff;
    --light-blue:#65aff3;
    --medium-blue:#297dc9;
    --black:#130f40;
    --light-black-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover: 0.2rem solid var(--black);
}

*{
    font-family: "Niramit", sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html
{
    font-size: 90%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body
{
    background: #eee;
}

.header
{
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo
{
    
}